*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
src/hibernate.cfg.xml

# Folders #
out/*
.idea/libraries
# executable files #
*.exe

# .idea files #
/Planchester.iml
/.idea/workspace.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# hibernate settings (local db)
src/hibernate.cfg.xml
/src/hibernate.cfg.xml

out/production/Planchester/Presentation/EventSchedule/EventSchedule.fxml
